<h2 id="public-header-text">Public Recipes</h2>
<div class="public-recipes-main-container">
  <% @recipes.each do |i|%>
    <div>
      <div>
        <a href="/recipes/<%=i.id%>"><%= i.name%></a>
        <span>By: <%= User.find(i.user_id).name%></span>
      </div>
      <div>
        <span>Total food items: <%=%></span>
        <span>Total price: $<%=%></span>
      </div>
    </div>
  <%end%>
</div>