<%# <div id="<%= dom_id food %>
  <th>
    <%= food.name %>
  </th>

  <th>
    <%= food.measurement_unit %>
  </th>

  <th>
    <%= food.price %>
  </th>

  <th><% if can? :destroy, food%><%= button_to "Destroy this food", food, method: :delete %><%end%></th>

<%# </div> %>
