<!DOCTYPE html>
<html>
  <head>
    <title>Project</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% if user_signed_in? %>
      <nav>
        <a class="navLink" href="/foods">Foods</a>
        <a class="navLink" href="/recipes">Recipes</a>
        <a class="navLink" href="/public_recipes">Public recipes</a>
        <a class="navLink" href="/general_shopping_list">General shopping list</a>
        <%= link_to 'Sign out', destroy_user_session_path, method: :delete  %>
        <span>Logged in as: <%= current_user.email%></span>
      </nav>
    <%end%>
    
    <%= yield %>
  </body>
</html>
